<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bs/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.svg">
    <script>let currPage = window.location.href</script>
</head>
<body style="overflow-x:hidden">

    <div class="container-fluid d-flex flex-column container-big px-0">
        <%- include("../partials/navbar") %>
        <%- include("../partials/flash") %>
        <%- body %>
        <%- include("../partials/footer") %>
    </div>

    <script>
        (function () {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
      
              form.classList.add('was-validated')
            }, false)
          })
      })()</script> 
    <script src="/bs/bootstrap.min.js"></script>
    </body>
    </html>